<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% if @events.any? %>
  <ul>
    <% @events.each do |event| %>
      <li>
        <strong><%= link_to event.title, event_path(event) %></strong>
      </li>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Create new event", new_event_path %>
<% end %>