<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<% if user_signed_in? %>
  <%= link_to "Create new event", new_event_path %>
  <%= link_to "\n Go to profile section", user_path(current_user) %>
<% end %>
